{% extends 'base.html' %}

{% block head %}
    <title>Student Login</title>
{% endblock %}

{% block body %}
    <form method="post" action="{{ url_for('signup') }}">
        <h1>Fill The Following Form to SignUp</h1>
        <label>Username :</label>
        <input type="text" name="username" required>
        <br>
        <br>
        <label>Password :</label>
        <input type="password" name="password" required>
        <br>
        <br>
        <label>Enter your Details :</label>
        <input type="Text" name="details" required>
        <br>
        <br>
        <label>Role :</label>
            <select name="role">
                <option value="mentor">Mentor</option>
                <option value="student">Student</option>
            </select>
        <br>
        <br>
        <label>Proof :</label>
        <input type="Text" name="id" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}


